<div *ngIf="(context$ | async) as ctx">
  <kor-page>
    <kor-app-bar id="mainToolbar" slot="top" mobile [label]="'Preview '+appName">
      <kor-icon button icon="url('./assets/images/logo.png')" slot="left" size="xl" (click)="logoClicked()"></kor-icon>
      <div slot="right">
        <kor-icon icon="code" (click)="openDevUrl()"></kor-icon>
        <kor-icon *ngIf="ctx.status === 'connected'" icon="sync"></kor-icon>
        <kor-icon *ngIf="ctx.status !== 'connected'" color="rgb(var(--functional-red))" icon="sync_problem"></kor-icon>
      </div>
    </kor-app-bar>
    <div fxHide="true" fxShow.lt-md="true">
      <kor-drawer id="mainSidePanel" [visible]="sidePanelVisible" (visible-changed)="sidePanelVisibleChanged ($event)" label="Menu">
        <preview-ui-menu></preview-ui-menu>
      </kor-drawer>
    </div>
    <div slot="left" fxShow="true" fxHide.lt-md="true">
      <kor-pane label="Menu" size="l">
      <preview-ui-menu></preview-ui-menu>
      </kor-pane>
    </div>
  <router-outlet></router-outlet>
  </kor-page>
</div>
