<p-accordion>
  <p-accordionTab header="Add Command" selected="true">
    <p-panel [formGroup]="templateForm">
      <p-header>
        <p-autoComplete formControlName="template" [suggestions]="filteredTemplates" field="name" [dropdown]="true" (completeMethod)="searchTemplate($event)">
        </p-autoComplete>
      </p-header>
      <span class="p-float-label">
        <p-autoComplete id="step" formControlName="step" [suggestions]="filteredSteps" field="position" [dropdown]="true" (completeMethod)="searchStep($event)" >
        </p-autoComplete>
        <label for="step">Step</label>
      </span>
    </p-panel>
    </p-accordionTab>
</p-accordion>
