<p-accordion>
  <p-accordionTab header="Add Command" selected="true">
      <!-- kor-input label="Commands" type="select" (value-changed)="templateChanged($event.target.value)">
          <kor-menu-item  *ngFor="let tmpl of listTemplates | async" label="{{tmpl.name}}"></kor-menu-item>
      </kor-input>
      <kor-input label="step" type="select" *ngIf="selectedStep" [value]="selectedStep.position" (value-changed)="stepChanged($event.target.value)">
        <kor-menu-item *ngFor="let step of selectedTemplate.sequence" label="{{step.position}}"></kor-menu-item>
      </kor-input>
      <kor-input label="position" *ngIf="position" [value]="position" (value-changed)="positionChanged($event.target.value)"></kor-input>
      <kor-input label="value" *ngIf="value" [value]="value | json" (value-changed)="valueChanged( $event.target.value)"></kor-input>
      <kor-button slot="footer" label="Add" (click)="addCommand($event)"></kor-button -->
    <p-accordionTab>
</p-accordion>
