/* You can add global styles to this file, and also import other style files */

*[theme="dont-code-theme"] {
  /* the negative color (e.g. white for light theme) */
  --neutral-1: 0, 0, 0;
  /* the positive color (e.g. black for dark theme) */
  --neutral-2: 255, 255, 255;
  /* the accent color in idle states (blue by default) */
  --accent-1: 60, 100, 240;
  /* the accent color in hover states */
  --accent-1b: 70, 110, 250;
  /* the accent color in press states */
  --accent-1c: 50, 90, 230;
  /* the app-bar background color */
  --base-0: 250, 250, 255;
  /* the page background color */
  --base-1: 230, 230, 235;
  /* the pane and nav-bar background color */
  --base-2: 240, 240, 245;
  /* the card, modal, drawer background color */
  --base-3: 250, 250, 255;
  /* the notification, tooltip, popover background color */
  --base-4: 250, 250, 255;
  /* the functional colors for status indications */
  --functional-blue: 20, 120, 220;
  --functional-red: 220, 40, 40;
  --functional-yellow: 220, 168, 40;
  --functional-green: 50, 168, 40;
  /* the text colors */
  --text-1: rgba(0, 0, 5, .90);
  --text-2: rgba(0, 0, 5, .60);
  --text-3: rgba(0, 0, 5, .20);
  /* the shadow definitions for card, app-bar, nav-bar, pane, etc. */
  --shadow-1: 0 2px 8px rgba(0,0,5,.1), 0 1px 4px rgba(0,0,5,.05);
}

html, body {
  height: 100%;
  --body-1: normal 14px/24px 'open-sans';
  --body-2: normal 12px/16px 'open-sans';
  --header-1: bold 16px/24px 'open-sans';
  --header-2: bold 14px/24px 'open-sans';
}
body { margin: 0; /* font-family: Roboto, "Helvetica Neue", sans-serif;*/ }

.fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}
